form {
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
    background-color: transparent;
    color: white;
    border: 1;
    border-bottom: 2px solid whitesmoke;
    border-radius: 1;
    border-color: aqua;
    text-decoration-color: darkblue;
    text-emphasis-color: yellow;
}